<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      routerLink="/"
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">Shop-Store</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <a routerLink="/products" class="mr-5 hover:text-gray-900">Products</a>
    </nav>
    <div
      class="relative"
      (mouseenter)="showCart.set(true)"
      (mouseleave)="showCart.set(false)"
    >
      <!-- cart -->
      <a routerLink="/checkout">
        <div class="transform scale-x-[-1]">
          <svg
            class="transform scale-150"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"
            />
          </svg>
        </div>
        @if (cartStore.productsCount()) {
        <span
          class="absolute -right-2 px-1 text-sm font-bolt text-white -top-2 bg-red-500 rounded-full"
          >{{ cartStore.productsCount() }}</span
        >
        }
      </a>
      <!-- products in cart -->
      @if(showCart() && cartStore.productsCount()){
      <div
        [ngClass]="{ 'show-cart-animation': showCart() }"
        class="absolute right-0 z-30 w-48 p-2 mt-2 text-white rounded-sm bg-slate-400"
      >
        @for (product of cartStore.products(); track $index) {
        <div class="flex items-center justify-between">
          <span
            >{{ product.qty }} {{ product.title | slice : 0 : 10 }}
            {{ product.subTotal || product.price | currency }}</span
          >
        </div>
        }
        <hr class="my-4 border-gray-500 border-t-1" />
        <div class="flex justify-between py-3 font-light">
          <span class="not-italic font-bold">{{
            cartStore.totalAmount() | currency
          }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</header>
